@import "../../../vars/glob";

.m-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: $gradient-emotion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .9;
  transition: 1s transform, 1.1s opacity;
  animation: Gradient 15s ease infinite;
  background-size: 400% 400%;
  pointer-events: none;
  will-change: transform, opacity;
  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .a-logo{
      height: 10vw;
      width: 10vw;
      min-height: 120px;
      min-width: 120px;
      margin-bottom: 5vw;
    }
  }
  &.is-hidden{
    transform: rotate3d(1, 0, 1, 45deg) translate3d(24px,25px, 1100px);
    opacity: 0;
    pointer-events: none;
    animation-play-state: paused;
  }
}

