<header class="o-header">

    <!-- Logo -->
    <div class="o-header__logo">
        {{> a-logo}}
    </div>

    <!--  Desktop Navigation -->
    <nav class="o-header__nav">
        <ul>
            <li class="o-header__nav-item">
                <a href="nosotros.html" class="o-header__nav-link">Nosotros</a>
            </li>
            <li class="o-header__nav-item">
                <a href="noticias.html" class="o-header__nav-link">Noticias</a>
            </li>
            <li class="o-header__nav-item">
                <a href="descarga.html"class="o-header__nav-link">Descargar</a>
            </li>
            <li class="o-header__nav-item">
                <a href="trabaja-con-nosotros.html" class="o-header__nav-link">Trabaja con nosotros</a>
            </li>
            <li class="o-header__nav-item">
                <a href="contacto.html" class="o-header__nav-link">Contacto</a>
            </li>
        </ul>
    </nav>

    <!-- Mobile Ham -->
    <div class="o-header__ham">
        <div class="a-ham js-toggle" data-toggle="html" data-toggle-class="menu-is-open">
            <span class="a-ham__item a-ham__item--t"></span>
            <span class="a-ham__item a-ham__item--m"></span>
            <span class="a-ham__item a-ham__item--b"></span>
        </div>
    </div>

    <!-- Mobile Navigation -->
    <nav class="o-header__nav o-header__nav--mobile">
        <!--<div class="o-header__nav-close">X</div>-->
        <ul>
            <li class="o-header__nav-item">
                <a href="nosotros.html" class="o-header__nav-link">Nosotros</a>
            </li>
            <li class="o-header__nav-item">
                <a href="noticias.html" class="o-header__nav-link">Noticias</a>
            </li>
            <li class="o-header__nav-item">
                <a href="descarga.html" class="o-header__nav-link">Descargar</a>
            </li>
            <li class="o-header__nav-item">
                <a href="trabaja-con-nosotros.html" class="o-header__nav-link">Trabaja con nosotros</a>
            </li>
            <li class="o-header__nav-item">
                <a href="contacto.html" class="o-header__nav-link">Contacto</a>
            </li>
        </ul>
    </nav>
</header>