<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TQuiero">
<link rel="stylesheet" href="{{root}}assets/css/main.css?v=1">
<link rel="preconnect" href="https://fonts.gstatic.com/">
<link rel="shortcut icon" href="favicon.ico">
<style>
    .o-header__nav--mobile{
        transform: translateY(-100%);
    }
    .m-cookies{
        transform: translateY(100%);
    }
    .o-header__nav-link{
        color: #fff;
    }
</style>

{{> head-scripts}}
