@import "../../../vars/glob";

.a-button{
  padding: 12px 35px;
  border: $a-button-border;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: $a-button-border-radius;
  box-shadow: $a-button-box-shadow;
  position: relative;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: $a-button-font-size;
  line-height: $a-button-line-height;
  @if $a-animation-ripple {
    overflow: hidden;
  }
  &__text{
    text-transform: uppercase;
    font-weight: 400;
  }
  /*Efecto para el boton on click*/
  &__ripple{
    @if $a-animation-ripple {
      animation: effectRipple 2s linear;
      background: rgba(255,255,255,.4);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      position: absolute;
      will-change: transform;
    }
  }
  &--narrow{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 5px 20px;
  }
  &--berlin{
    background: $a-button-berlin-background;
    color: $a-button-berlin-color;
  }
  &--paris{
    background: $a-button-paris-background;
    color: $a-button-paris-color;
  }
  &--oslo{
    background: $a-button-oslo-background;
    color: $a-button-oslo-color;
    transition: .6s background, .6s color;
    will-change: background, color;
    &:hover{
      background: $a-button-oslo-color;
      color: $a-button-oslo-background
    }
  }


  &--moskva{
    background: $a-button-moskva-background;
    color: $a-button-moskva-color;
  }

  &--dublin{
    background: $a-button-dublin-background;
    color: $a-button-dublin-color;
  }
  &--roma{
    background: $a-button-roma-background;
    color: $a-button-roma-color;
  }

  &--has-icon{
    svg{
      padding-left: 15px;
    }
  }

}

@keyframes effectRipple {
  0% {
    transform: scale(1);
    opacity: .5;
  }
  50%{
    transform: scale(25);
    opacity: .3;
  }
  75%{
    transform: scale(75);
    opacity: .1;
  }
  100%{
    transform: scale(100);
    opacity: 0;
  }
}