<div class="m-cookies">
    <p class="m-cookies__text">
        Utilizamos cookies propias y de terceros para mejorar nuestros servicios mediante el análisis de sus hábitos de navegación y mejorar la oferta de servicios y/o productos del sitio que pudieran ser de su interés. Si continúa navegando, consideramos que acepta su uso.
        <a href="politica-cookies.html" class="m-cookies__link">Saber más</a>
    </p>
    <a class="m-cookies__btn a-button a-button--berlin">
        Aceptar
    </a>
</div>